<div class="container bg-light p-4">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center">Cadastro de Cursos</h1>
      <form [formGroup]="formGroupCourses">
        <div class="row mb-3">
          <div class="col-6">
            <label for="inputName" class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              aria-describedby="nameHelp"
              formControlName="name"
            />
            <div id="nameHelp" class="form-text">Digite o nome do curso</div>
          </div>
          <div class="col-6">
            <label for="inputPrice" class="form-label">Preço</label>
            <input
              type="number"
              class="form-control"
              id="inputPrice"
              aria-describedby="priceHelp"
              formControlName="price"
            />
            <div id="priceHelp" class="form-text">Digite o preço</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6 gap-4">
            <label class="form-label">Satus do curso</label>
            <div class="d-flex flex-row gap-4 ">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="active"
                id="activeRadio"
                formControlName="active"
                [value]="true"
                checked
              />
              <label class="form-check-label" for="activeRadio"> Ativo </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="active"
                formControlName="active"
                [value]="false"
                id="disableRadio"
              />
              <label class="form-check-label" for="disableRadio">
                Desativo
              </label>
            </div>
          </div>
          </div> <!---->
          <div class="col-6">
            <label class="form-label">Tipo de curso</label>
            <div class="form-check">
              <input
              class="form-check-input"
              type="checkbox"
              id="defaultCheck1"
              formControlName="promotion"
              />
              <label class="form-check-label" for="defaultCheck1">
                Promocional
              </label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-3">
          <button type="submit" (click)="save()" class="btn btn-primary col-2">Salvar</button>
        </div>
      </form>
      <h2 class="text-center">Cursos Cadastrados</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Status</th>
            <th scope="col">Tipo de produto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of courses">
            <th scope="row">{{ c.id }}</th>
            <td>{{ c.name }}</td>
            <td>{{ c.price }}</td>
            <td>{{ c.active ? "Ativo" : "Deastivado" }}</td>
            <td>{{ c.promotion ? "Promocional" : "Normal"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
